<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <div class="container">
    <!-- <div class="col-md-6">
    <div id="logbox">
      <form id="signup" method="post" action="/signup">
        <h1>create an account</h1>
        <input name="user[name]" type="text" placeholder="What's your username?" pattern="^[\w]{3,16}$" autofocus="autofocus" required="required" class="input pass"/>
        <input name="user[password]" type="password" placeholder="Choose a password" required="required" class="input pass"/>
        <input name="user[password2]" type="password" placeholder="Confirm password" required="required" class="input pass"/>
        <input name="user[email]" type="email" placeholder="Email address" class="input pass"/>
        <input type="submit" value="Sign me up!" class="inputButton"/>
        <div class="text-center">
            already have an account? <a href="#" id="login_id">login</a>
        </div>
      </form>
    </div>
   </div> -->
    <!--col-md-6-->
    
   <!-- <div class="col-md-6"> -->
    <div id="logbox">
      <form [formGroup]="fgValidator" id="signup" method="post" action="/signup" (ngSubmit)="IdentificarUsuario()">
        <h1>Iniciar Sesión</h1>
        <input formControlName="email" name="user[email]" type="email" placeholder="Ingrese su Correo Electrónico" required="required" class="input pass"/>
        <input formControlName="password" name="user[password]" type="password" placeholder="Ingrese su contraseña" required="required" class="input pass"/>
        <button [disabled]="!fgValidator.valid" type="submit" value="Ingresar" class="inputButton">Ingresar</button>
        <div class="text-center">
          <a href="#" id="">Crear una nueva cuenta</a> - <a href="#" id="">Recuperar Clave</a>
        </div>
      </form> 
    </div>
    <!-- </div> -->
  </div>
