<p>property-view works!</p>

<style>
    table, th, td {
      border: 1px solid rgb(148, 38, 196);
      border-collapse: collapse;
    }    
    table {
      border-spacing: 30px;
    }
    </style>
    
    <p>user-create works!</p>
    <h1>Listado Inmuebles</h1>
    <div>
    <table class="table-sm" style="width:30%">
        <tr style="height:200px">
            <th colspan="2"></th>
          </tr>     
        <tr>
            <td>Id:</td>
            <td>######</td>        
        </tr>
        <tr>
            <td>Departamento:</td>
            <td></td>
        </tr>
        <tr>
            <td>Ciudad:</td>
            <td></td>
        </tr>
        <tr>
            <td>Dirección:</td>
            <td></td>
        </tr>
        <tr>
            <td>Valor:</td>
            <td></td>
        </tr>
        <tr>
            <td>Tipo de Inmueble:</td>
            <td></td>
        </tr>    
        <tr>
            <td>Tipo de Oferta:</td>
            <td></td>
        </tr>
        <tr>
            <td>Encargado:</td>
            <td></td>
        </tr>
        <tr>
            <td>Contacto Encargado:</td>
            <td></td>
        </tr>     
        <tr>
            <td>Enlace Video:</td>
            <td></td>
        </tr>           
    </table>
    </div>
    <br>        