/*--------------------------------------------------------*/
/*Modificaciones realizadas:*/

h3 {
    color: rgb(58, 3, 75);
    text-align: left;
    font-family: fantasy;
    text-decoration: underline rgb(182, 4, 143);
    font-size: 35px;
    line-height: 1.8;
    padding-top:35px;
    padding-bottom: 25px;
  }
  
h4 {
    color: rgb(58, 3, 75);
    font-family: fantasy;
    text-decoration: underline rgb(70, 56, 155);
    font-size: 30px;
    line-height: 1.8  
  }
  
  