<router-outlet></router-outlet>
<div class="container">
 
    <br>
    <h1>Acerca de Nosotros</h1>
    <img src="./assets/Logo3x.png" class="centrado">
    <br>
    <div class="container mt-8">
        <div class="row">
            <div class="col-sm-5 bg-light text-dark">
                <h3>Misión</h3>
                <p class="text-justify">Hogar Colombia es una inmobiliaria líder en Colombia, dedicada a la venta y
                    alquiler de inmuebles
                    de forma efectiva, transparente y segura, brindándo a sus clientes los más altos estándares de
                    calidad y efeciencia.</p>
            </div>
            <div class="col-sm-6 bg-info text-white">
                <h3>Visión</h3>
                <p class="text-justify">Hogar Colombia será en el año 2030 una inmobiliaria líder a nivel nacional en la
                    venta y alquiler
                    de inmuebles, reconocida por su amplia experiencia y respaldo, que la consolida como una de las
                    empresas más sólidas en Colombia.</p>
            </div>
        </div>
</div>
<br>
<br>
